* {
    box-sizing: border-box!important;
    margin: 0;
    padding: 0;
    border-radius: 0!important;
}

.btn-primary {
    background-color: #A16BB4!important;
    border-color: #A16BB4!important;
}

.breadcrumb-main{
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-bottom: 1px solid #A16BB4;
}

.current-link {
    color: #A16BB4!important;
    font-weight: 200;
    text-decoration: none;
}

#mainContainer{
    width: 92%;
    margin: auto;
}

.glassBackground{
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.68);
    padding: 20px;
    height: 90vh;
}

.left {
    display: flex;
    justify-content: end;
    align-items: center;
}

a {
    text-decoration: none!important;
    color: #6B7FB4!important;   
}

li {
    list-style: none;
}

.small-text {
    text-align: justify;
    font-size: 15px;
}

.buttonsForModal{
    padding: 15px 0;
    justify-content: center;
    display: flex;
}

.button-test{
    color: black;
    padding: 5px 15px;
    border: 1px solid #A16BB4;
    background-color: white;
    margin-right: 10px ;
}

.button-test:hover {
    color: white;
    background-color: #A16BB4;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button-learn{
    color: white;
    padding: 5px 15px;
    border: 1px solid #6B7FB4;
    background-color: #6B7FB4;
    margin-right: 10px ;
}

.button-learn:hover {
    color: white;
    background-color: #4f6399;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}